CompileFlags:
  Compiler: /opt/homebrew/bin/g++-15
  Remove:
    - -stdlib=*
  Add:
    - -nostdinc++
    - -std=c++20
    - -isystem
    - /opt/homebrew/Cellar/gcc/15.2.0_1/include/c++/15
    - -isystem
    - /opt/homebrew/Cellar/gcc/15.2.0_1/include/c++/15/aarch64-apple-darwin25
    - -isystem
    - /opt/homebrew/Cellar/gcc/15.2.0_1/include/c++/15/backward